.text{
    border-radius: 7px;
    color: white;
    padding: 10px;
    margin-top: 10px;
    font-family: sans-serif;
    background-color: black;

}
.A{
    background-color: rgb(54, 173, 64);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    
}
.wrapper{
    border-radius: 7px;
    padding: 10px;
    font-family: sans-serif;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    background-color: black;
    color: white;
}
.B{
    background-color: blue;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 10px;
}
.control{
    border-radius: 7px;
    padding: 10px;
    font-family: sans-serif;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    background-color: black;
    color: white;
}
.C{
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    
}
